#titulo-principal {
    margin-top: 2.5em;
    font-size: 2.7em;
    text-align: center;
    color: white;
}

.cabecalho p {
    text-align: center;
    font-size: 0.8em;
    color: white
}

.carrinho {
    color: white;
    margin-top: 5em;
}

.btn-primary {
    margin-top: 5em;
    background-color: #FFAC4B;
    color: black;
    font-weight: 700;
}