<div container-fluid container col-12>
    <header class="cabecalho col-12 container container-fluid">
        <h1>Minhas Listas</h1>
    </header>
    <main class="container col-12 container-fluid conteudo-principal">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Estabelecimento</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><a href="#">Supermercado</a></td>
                <td><a href="#"><i class="fa-solid fa-pen"></i></a></td>
                <td><a href="#"><i class="fa-sharp fa-solid fa-trash"></i></a></td>
              </tr>
            </tbody>
          </table>
          <button>
          </button>
    </main>
</div>
